<div class="board" role="grid" [attr.aria-label]="i18n.t('game.boardLabel')">
  @for (row of rows(); track $index; let r = $index) {
    <div
      class="row"
      role="row"
      [style.--cols]="row.length"
      [class.shake]="shaking() && isActiveRow(r)"
      [class.win]="isWinRow(r)"
    >
      @for (tile of row; track $index; let c = $index) {
        <app-tile
          [letter]="tile.letter"
          [state]="tile.state"
          [revealed]="r < submitted()"
          [delay]="r < submitted() ? c * 90 : 0"
        />
      }
    </div>
  }
</div>
